absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
anyio==3.7.1
assemblyai==0.36.0
astunparse==1.6.3
attrs==24.3.0
blis==1.2.0
catalogue==2.0.10
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
confection==0.1.5
contourpy==1.3.1
cycler==0.12.1
cymem==2.0.11
decorator==4.4.2
deprecation==2.1.0
distro==1.9.0
dnspython==2.7.0
email_validator==2.2.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
fastapi==0.115.12
# Removed fer package
filelock==3.16.1
# Removed flatbuffers
fonttools==4.57.0
frozenlist==1.5.0
# Removed gast and google-pasta (TensorFlow deps)
gotrue==2.11.1
# Removed grpcio (TensorFlow dep)
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
# Removed h5py (TensorFlow dep)
hpack==4.1.0
httpcore==1.0.7
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
Jinja2==3.1.5
jiter==0.8.2
# Removed keras
kiwisolver==1.4.8
langcodes==3.5.0
# Removed libclang (TensorFlow dep)
MarkupSafe==3.0.2
matplotlib==3.10.1
# Removed ml-dtypes (TensorFlow dep)
multidict==6.1.0
murmurhash==1.0.12
namex==0.0.8
numpy==1.26.4
openai==1.60.0
opencv-python==4.11.0.86
# Removed opt_einsum (TensorFlow dep)
# Removed optree (TensorFlow dep)
packaging==24.2
pandas==2.2.3
pillow==10.2.0
postgrest==0.19.1
preshed==3.0.9
# Removed protobuf (TensorFlow dep)
pydantic==2.4.2
pydantic_core==2.10.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2025.2
PyYAML==6.0.2
realtime==2.2.0
regex==2024.11.6
requests==2.32.3
rich==13.9.4
shellingham==1.5.4
moviepy==1.0.3
six==1.17.0
sniffio==1.3.1
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
starlette==0.46.1
storage3==0.11.1
supabase==2.11.0
# Removed tensorflow-cpu
# Removed termcolor (TensorFlow dep)
thinc==8.3.4
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.0.7
uvicorn==0.24.0
wasabi==1.1.3
weasel==0.4.1
websockets==13.1
# Removed wrapt (TensorFlow dep)
yarl==1.18.3
librosa==0.11.0
PyPDF2==3.0.1
